#remotes video{
	position:absolute;
	z-index: -2;
}

#remotes video.addborder{
	border: 25px solid azure;
	border-radius: 15px;
}

#inputCanvas{
	opacity:0;
	position: absolute;
}

#localVideo{
    position: absolute;
	z-index: -1;
	height:30%;
	opacity:0.8;
}

#localVideo.addborder{
	border: 20px solid #47d475;
	border-radius: 15px;

}

#hydra{
	left:18%;
	top:30%;
	color:#47d475;
	font-size: 100px;
	position:absolute;
	font-weight: bold;
	
}

#loading{
	left:26%;
	top:42%;
	color:azure;
	font-size:25px;
	position:absolute;
}

#ok{
	left:26%;
	top:42%;
	color:azure;
	font-size:25px;
	position:absolute;
	opacity:0;
}

#capturing{
	left:26%;
	top:42%;
	color:azure;
	font-size:25px;
	position:absolute;
	opacity: 0;
}

#confLabel {
	color:#47d475;

}

#inviteLabel {
	color:#47d475;

}

input{
	font-size:30px;
	background-color: #47d475;
	border-radius: 15px;

}

button{
	font-size: 30px;
	font-weight: lighter;
	border-radius: 15px;
}

#createRoom{
}

#title{

}

#subTitle{
}

#bonjovi{
	position:absolute;
    border: 10px solid azure;
    border-radius: 15px;
    background-color: azure;
    opacity: 0.7;
    bottom:5px;
    right:5px;
}


body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow:hidden;
}

html {
	background-color:black;
	overflow: hidden;
}


#localWrapper {
	text-align: center;
	height:100%;
}


h2{
	text-align: left;
	font-size: 20px;
	font-weight: bold;
	color: black;
}

h1{
	font-weight:bold;
}

p{
	color:black;
	font-size:30px;
}


